<%if user_signed_in? %>
 <%#if current_user.role=="Admin" %>
  <h4><%= current_user.name %></h4>
  <h6><%=current_user.role %></h6>
  <h1 class="heading">Companies</h1>
  <table class="table table-striped table-hover space">
    <thead class="thead-light">
    <th>Name</th>
    <th>Business Domain</th>
    <th>Assigned Manager</th>

    </thead>
    <tbody>
    <%@companies.each do |c| %>
      <tr>


        <td><%=c.name %></td>
        <td><%=c.business_domain %></td>
        <% manager = c.assign_manager %>
        <%manager_name= User.find(manager) %>
        <td><%=manager_name.name %></td>
        <td><%= link_to 'delete',
                        { controller: "companies", action: "destroy", id: c.id },
                        data: { confirm: 'Are you sure?' },
                        method: :delete, class:"icon_color" %>
        </td>
    <%end %>
    </tr>
    </tbody>
  </table>
  <br>
  <%= link_to 'New Company', new_company_path %>
    <%#else %>

 <%#end %>

<%end %>