<%= form_with(model: supplier) do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h2>

      <ul>
        <% supplier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :cnic %>
    <%= form.text_field :cnic %>
  </div>
  <div class="field">
    <%= form.label :company_id %>
    <%c = Company.find_by(assign_manager: current_user.id) %>

    <%= form.number_field :company_id, value: c.id %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
